<footer class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-4 mx-auto text-center">
          <a href="https://www.powerplaynyc.org" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            PowerPlay NYC
          </a>
          <a href="https://www.powerplaynyc.org/what-we-do/" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            What We Do
          </a>
          <a href="https://www.powerplaynyc.org/contact-us/" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Support
          </a>
        </div>
        <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
          <a href="https://www.facebook.com/PowerPlayNYC/" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-facebook-f"></span>
          </a>
          <a href="https://twitter.com/PowerPlayNYC" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-twitter"></span>
          </a>
          <a href="https://www.instagram.com/powerplaynyc/" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-instagram"></span>
          </a>
          <a href="https://www.youtube.com/channel/UCZAz3h0XAEspM3MWrIq6CZA" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-youtube"></span>
          <!-- </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-github"></span>
          </a> -->
        </div>
      </div>
      <div class="row">
        <div class="col-8 mx-auto text-center mt-1">
          <p class="mb-0 text-secondary">
            &copy;  2023 - Coded by Patrick Okwir.
          </p>
        </div>
      </div>
    </div>
  </footer>
  