<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ECharts Pie Chart</title>
  <!-- Load ECharts library -->
  <!-- Add this to the head of your HTML file -->
  <!-- Add this to the head of your HTML file -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.3.0/echarts.min.js"></script>
</head>
<body>
    <canvas id='chart-container' width="800" height="800"></canvas>

  <!-- Load the custom ECharts pie chart script -->
  <script src="/Users/patrickokwir/Desktop/Git_Projects/PowerPlay_DashBoard/apps/static/assets/js/plots/pie_chart.js"></script>
</body>
</html>
