<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ECharts Pie Chart</title>
  <!-- Load ECharts library -->
  <!-- Add this to the head of your HTML file -->
  <!-- Add this to the head of your HTML file -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <canvas id="chart-grouped-bars" width="600" height="400"></canvas>

  <!-- Load the custom ECharts pie chart script -->
  <script src="/Users/patrickokwir/Desktop/Git_Projects/PowerPlay_DashBoard/apps/static/assets/js/plots/grouped_bar.js"></script>
</body>
</html>
